YOUTUBE_API_KEY_DEFAULT=
YOUTUBE_API_KEY_NICK=
CREATORRADAR_DEFAULT_API_PROFILE=DEFAULT

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=research_user
POSTGRES_PASSWORD=research_password
POSTGRES_DB=research_db
